/* Reset the style */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Entire page font */
html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a{
    color:#333;
    text-decoration:none;
}

/*text primary for main highlight*/
.text-primary{
    color: #f7c08a;
}

/* the lorem text in content is bigger so need to 
set that */
.lead{
    font-size: 20px;
}

/*generic button*/
.btn{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border:none;
    cursor: pointer;
    border-radius: 50px;
}
.btn-light{
    background: #f4f4f4;
    color: #333;
}
.bg-primary{
    color: #333333;
    background: #f7c08a;  
}
.bg-dark{
    background: #333;
    color: #fff;
}

.clr{
    clear: both;
}

h1,h2,h3{
    /* because we removed all the padding */
    padding-bottom:20px;
}

p{
    margin: 10px 0;
}

#navbar{
    background: #333;
    color: #fff;
    /* for showing backgroudn no matter what */
    overflow: auto;
}

#navbar a{
    color:#fff;
}
#navbar h1{
    float:left;
    padding-top: 20px;
}

/* we first remove style */
/* use flex box */
#navbar ul{
    list-style: none;
    float:right;    
}

#navbar ul li{
    /* display to block so they come in horizontal */
    /* float controls orientation */
    float: left;
}

/* Seperate a so we can have a different column*/
#navbar ul li a{
    float: left;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current{
    background:chocolate;
    color: darkred;
}

#showcase{
    background: url('../img/showcase.jpg') no-repeat
    center center/cover;
    height: 600px;
}

#showcase .showcase-content{
    color: #fff;
    padding: 170px;
    text-align: center;
}


#showcase .showcase-content h1{
    font-size: 60px;
    line-height: 1.2em;
}

#showcase .showcase-content p{
    padding-bottom: 20px;
    line-height: 1.7em;
}

.btn:hover{
    background: #f7c08a;
    color: #333;
}

/*home-info*/
#home-info{
    height: 400px;
}

#home-info .info-img{
    float: left;
    width: 50%;
    background: url('../img/photo-1.jpg') no-repeat;
    min-height: 100%;
}

#home-info .info-content{
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}

#home-info .info-content p{
    padding-bottom: 30px;
}

/* features */
.box{
    float:left;
    width: 33.3%;
    padding:50px;
    text-align: center;
}
.box i{
    margin-bottom: 10px;
}

.bg-light{
    background: lightcyan;
}


/*Footer*/

.main-footer{
text-align: center;
background: #444444;
color: #fff;
padding: 20px;
}