/* Reset the style */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Entire page font */
html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a{
    color:#333;
    text-decoration:none;
}

h1,h2,h3{
    /* because we removed all the padding */
    padding-bottom:20px;
}

p{
    margin: 10px 0;
}

#navbar{
    background: #333;
    color: #fff;
    /* for showing backgroudn no matter what */
    overflow: auto;
}

#navbar a{
    color:#fff;
}
#navbar h1{
    float:left;
    padding-top: 20px;
}

/* we first remove style */
/* use flex box */
#navbar ul{
    list-style: none;
    float:right;    
}

#navbar ul li{
    /* display to block so they come in horizontal */
    /* float controls orientation */
    float: left;
}

/* Seperate a so we can have a different column*/
#navbar ul li a{
    float: left;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current{
    background:chocolate;
    color: darkred;
}